html {

    font-size: 18px;
    padding-left: 1em;;
}


body{
    background-color:rgb(159, 228, 159);
}


.navigation ul {

background-color: black;
color:rgb(184, 184, 31);
padding: 0.5em;
margin: 0.5em;
width: 20em;
text-align: center;
}

.navigation ul li {

margin: 0.5em;
width: 5em;
}


ul {
    display: flex;
}

#logo {

    background-color: rgb(25, 4, 73);
    color:#fff;
    width: 6em;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;

}

h4 {
    text-decoration: underline;
    font-size: 20px;

}

.navigation ul li {

    list-style: none;
    font-family: cursive;
}

/* Main */

main {
    display: flex;
}

main > .card {
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    display: block;
}


.footer {

    height: 2em;
    background-color: rgb(25, 4, 73);
    color: seashell;
    width: auto;
    margin: 0.5em;
   }


.card > footer {

    text-align: center;
}

/* Login */

    .login button {

   background-color: rgb(168, 18, 18); 
    }
  
  .login {

    color:rgb(25, 4, 73);
    padding: 0.5em;
  }

   

